:root{
    --main-color: #2196f3;
    --transparent-color: #e6e3e3d7;
    --section-padding: 100px;
    --main-transition:0.3s;
    --section-background: #ececec;
  }
  * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
      margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  
  body{
      font-family: "Cairo", sans-serif;
  }
  a{
    text-decoration: none;
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
  }
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

/* main component */
.main-title{
  margin: 100px auto;
  position: relative;
  padding: 20px;
  border: 2px solid ;
  width: fit-content;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
  z-index: 1;
  transition:var(--main-transition) ;
  -webkit-transition:var(--main-transition) ;
  -moz-transition:var(--main-transition) ;
  -ms-transition:var(--main-transition) ;
  -o-transition:var(--main-transition) ;
}
.main-title:hover{
  color: white;
  border: 1px solid white;
  transition-delay: 0.5s;
}
.main-title::before{
  content: "";
  position: absolute;
  left: -30px;
  top: 50%;
  transform:translateY(-50%) ;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  -webkit-transform:translateY(-50%) ;
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  -o-transform:translateY(-50%) ;
}
.main-title::after{
  content: "";
  position: absolute;
  right:-30px;
  top: 50%;
  transform:translateY(-50%) ;
  width: 20px;
  height: 20px;
  background-color: var(--main-color);
  border-radius:50% ;
  -webkit-border-radius:50% ;
  -moz-border-radius:50% ;
  -ms-border-radius:50% ;
  -o-border-radius:50% ;
  -webkit-transform:translateY(-50%) ;
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  -o-transform:translateY(-50%) ;
}
.main-title:hover::before{
  left: 0;
  animation: leftm  0.5s linear  forwards;
  -webkit-animation: leftm  0.5s linear  forwards;
}
.main-title:hover::after{
  right: 0;
  animation: rightm  0.5s linear  forwards;
  -webkit-animation: rightm  0.5s linear  forwards;
}
.spikes {
  position: relative;
  height: 50vh;
}

.spikes::after {
  content: '';
  position: absolute;
  right: 0;
  left: -0%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 50px;
  background-size: 50px 100%;
  background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
  background-position: 0 0;
}
.dots {
  background-image: url("../imgs/dots.png");
  height: 186px;
  width: 204px;
  background-repeat: no-repeat;
  position: absolute;
}
.dots-up {
  top: 200px;
  right: 0;
}
.dots-down {
  bottom: 200px;
  left: 0;
}
@keyframes leftm {
  0%,50%{
z-index: -1;
  }
  100%{
    z-index: -1;
    border-radius: 0%;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}
}
@keyframes rightm {
  0%,50%{
z-index: -1;
  }
  100%{
    z-index: -1;

    border-radius: 0%;
    width: 50%;
    height: 100%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -ms-border-radius: 0%;
    -o-border-radius: 0%;
}
}
@keyframes flash {
  0%,40%{
opacity: 1;
  }
  100%{
    opacity: 0;
    width: 200%;
    height: 200%;
  }
}
/*  */
/* header */
header{
  background-color: white;
}
header .container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
header .container h2{
  height: 70px;
color: var(--main-color);
cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .container ul{
right: 0;
  display: flex;
  align-items: center;
  
}
header .container ul li{
  text-align: center;
  padding: 20px;
  cursor: pointer;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
header .container ul li::before{
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: var(--main-color);
left: -100%;
top: 0;
transition-duration: 0.5s;

}
header .container ul li:hover::before{
left:0;
}
header .container ul li:hover{
  background-color:#e6e3e3d7 ;
transition-duration: 0.5s;
color: var(--main-color);
}
@media (max-width: 991px) {
 header .container h2 {
width: 100%;
}
header .container ul{
flex: 1; 
}
}
header .menu {
  position: absolute;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  gap: 40px;
  top:  120px;
  left: 50px;
  opacity: 0;
  z-index: -1;

  transition: top var(--main-transition), opacity var(--main-transition);
  -webkit-transition: top var(--main-transition), opacity var(--main-transition);
  -moz-transition: top var(--main-transition), opacity var(--main-transition);
  -ms-transition: top var(--main-transition), opacity var(--main-transition);
  -o-transition: top var(--main-transition), opacity var(--main-transition);
}

.menu .image img{
max-width: 500px;
}

.menu .col li a{
  color:var(--main-color) ;
  display: block;
  font-size:15px;
  font-weight: bold;
  padding: 20px;
  position: relative;
}
.menu .col li a::before{
  content: "";
  position: absolute;
  background-color:  #fafafa;
  left:0;
  top: 0;
  width: 0%;
  height: 100%;
  z-index: -1;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.menu .col li a:hover::before{
  width: 100%;
}
.menu .col li:not(:last-child){
  border-bottom: 1px solid var(--transparent-color);
}

@media (max-width:991px) {
  
  .menu .image{
    display: none;
  }
  
}
@media (max-width: 767px) {
  header .menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
  .menu ul:first-of-type li:last-child{
    border-bottom: 1px solid var(--transparent-color);
  
  }
}

header .container ul .menuops:hover .menu{
opacity: 1 ;
z-index: 100 ;
top: 70px ;
}
/* landing */
.landing{
  position: relative;
  padding-bottom: 80px;
  /* z-index: -1; */
}
.landing::after{
  content: "";
  position: absolute;
  left: 0;
  top: -40px;
  width: 100%;
  height: 100%;
  background-color: #e6e3e3d7;
  z-index: -1;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
}
.landing .container{
  display: flex;
  text-align: center;
  position: relative;
  padding-top: 60px;
}
.landing .container .text{
  position: relative;
  flex-basis: 45%;
}
.landing .text .info{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
    flex:1;
  }
}
.landing .info h2{
  word-spacing: -2px;
  padding-left: 0;
}
.landing .info p{
  line-height: 2;
  color: #777;
}
.landing .image{
  position: relative;
}
.landing .image img{
    max-width: 70%;
    position: relative;
    animation: loading 3s linear infinite;
    animation-play-state: running;
    -webkit-animation: loading 3s linear infinite;
}
@keyframes loading{
  0%,100%{
      top: 0;
}
  50%
{
  top: 30px;
} 

}
@media (max-width: 991px) {
  .landing{
    flex-direction: column;
  }
  .landing .image{
    display: none;
  }
  .landing .text{
   margin-top: 200px;
   /* flex:1; */
   
  }
}
.landing .todown{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  color: var(--main-color);
  animation: bounce 1.3s infinite ;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -webkit-animation: bounce 1.3s infinite ;
}
@keyframes bounce {
  0%,10%,20%,50%,80%,100%{
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}
  40%,60%{
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
}
}
/*  */
/* articles */
.articles {
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
}
.articles .grid-card{

display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 30px;

}

.articles .grid-card .card{
  box-shadow: 0 2px 15px rgb(0 0 0 /10%);
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  transition: transform var(--main-transition), box-shadow var(--main-transition);
  -webkit-transition: transform var(--main-transition), box-shadow var(--main-transition);
  -moz-transition: transform var(--main-transition), box-shadow var(--main-transition);
  -ms-transition: transform var(--main-transition), box-shadow var(--main-transition);
  -o-transition: transform var(--main-transition), box-shadow var(--main-transition);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}

.articles .grid-card .card .image img{
  max-width: 100%;
  
}
.articles .grid-card .card .content{
  padding: 20px;

}
.articles .grid-card .card .content h2{
  font-weight: bold;
  padding-bottom: 10px;
}
.articles .grid-card .card .content p{
  line-height: 2;
  color: #777;
}
.articles .grid-card .card .foot{
  padding: 20px;
  color: var(--main-color);
  font-weight: bold;
  border-top: 1px solid var(--transparent-color);
  display: flex;
  justify-content: space-between;
}  
.articles .grid-card .card .foot a{
cursor: pointer;
}
.articles .grid-card .card:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
  box-shadow: 0 2px 15px rgb(0 0 0 /20%);

}
.articles .grid-card .card:hover .foot i{
  animation: arrow 1s infinite ;
  -webkit-animation: arrow 1s infinite ;
}
@keyframes arrow {
 
  100%{
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
}
}
/*  */
/* gallery */
.gallery{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--transparent-color);
}
.gallery .container .grid-gallery {
  overflow:hidden;
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 40px;
}
.gallery .container .grid-gallery .box{
  padding: 15px;
  background-color: white;

}
.gallery .grid-gallery .box .image::after{
     content: "";
     position: absolute;
     top: 50%;
     left: 50%;
     width: 0%;
     height: 0%;
     background-color: rgba(255, 255, 255, 0.205);
     transform: translate(-50%,-50%);
     transition:var(--main-transition) ;
     -webkit-transition:var(--main-transition) ;
     -moz-transition:var(--main-transition) ;
     -ms-transition:var(--main-transition) ;
     -o-transition:var(--main-transition) ;
     -webkit-transform: translate(-50%,-50%);
     -moz-transform: translate(-50%,-50%);
     -ms-transform: translate(-50%,-50%);
     -o-transform: translate(-50%,-50%);
}
.gallery .grid-gallery .box:hover .image::after{
  animation: flash 0.7s ;
  /*left: 0%;
  top: 0%;
  right: 0;
  bottom: 0;
  *//*width: 200%;
  height: 200%;
  */-webkit-animation: flash var(--main-transition) linear ;
  -webkit-animation: flash 0.7s ;
}
.gallery .container .grid-gallery .image:hover img{
  transform: rotate(3deg) scale(1.2);
  -webkit-transform: rotate(3deg) scale(1.2);
  -moz-transform: rotate(3deg) scale(1.2);
  -ms-transform: rotate(3deg) scale(1.2);
  -o-transform: rotate(3deg) scale(1.2);
}
.gallery .container .grid-gallery .box .image{
  overflow:hidden;
position: relative;
}
.gallery .container .grid-gallery .image img{
  max-width: 100%;
  transition:var(--main-transition) ;
  -webkit-transition:var(--main-transition) ;
  -moz-transition:var(--main-transition) ;
  -ms-transition:var(--main-transition) ;
  -o-transition:var(--main-transition) ;
}
/*  */
/* features */
.features .container .grid-features{
  display: grid;
grid-template-columns: repeat(auto-fill,minmax(250px,1fr)); 
gap: 50px;
}
.features .container .grid-features .feature{
text-align: center;
border: 1px solid var(--section-background);
padding-bottom: 30px;
}
.features .grid-features .feature .image{
position: relative;
overflow: hidden;
}
.features .grid-features .feature .image::before{
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  /*width: 50%;
  */border-color: transparent transparent white transparent;
  border-width: 0 0 160px 500px;
  border-style: solid;
  z-index: 2;
  transition:var(--main-transition) ;
  -webkit-transition:var(--main-transition) ;
  -moz-transition:var(--main-transition) ;
  -ms-transition:var(--main-transition) ;
  -o-transition:var(--main-transition) ;
}
.features .grid-features .feature:hover .image::before{
  border-width: 160px 500px 160px 0;

}
.features .grid-features .feature .image img{
max-width: 100%;
}
.features .grid-features .feature .image::after{
content: "";
position: absolute;
  top: -1px;
left: 0;
width: 100%;
height: 100%;
}
.features .grid-features .feature.quality .image::after{
  background-color: rgba(255, 0, 0, 0.425);

}
.features .grid-features .feature.time .image::after{
  background-color: rgba(0, 128, 117, 0.425);

}
.features .grid-features .feature.passion .image::after{
  background-color: #2195f370;

}
.features .container .grid-features .feature h2{
/* padding: 20px; */
font-size: 40px;
position: relative;
width: fit-content;
margin: auto;
}
.features .container .grid-features .feature h2::after{
  content: "";
  position: absolute;
  height: 5px;
  width:calc(100% - 40px);
  left: 20px;
  bottom: -10px;
}
.features .feature.quality h2::after{
background-color:  rgba(255, 0, 0, 0.87);
}
.features .feature.time h2::after{
  background-color:  rgba(0, 128, 117, 0.918);
  }
  .features .feature.passion h2::after{
    background-color:  var(--main-color);
    }
.features .container .grid-features .feature p{
line-height: 2;
color: #777;
padding-bottom: 30px;
padding-top: 10px;
}
.features .container .grid-features .feature a{
   cursor: pointer;
   padding-left: 30px;
   padding-right: 30px;
   border-width: 3px;
   border-style: solid;
   width: fit-content;
   border-radius:6px;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   -ms-border-radius:6px;
   -o-border-radius:6px;
   font-weight: bold;
   position: relative;
}
.features .container .grid-features .feature:hover a{
color: white;
}
.features .container .grid-features .feature a::before{
  content: "";
  position: absolute;
  left:0%;
  top:0;
  height: 100%;
  width: 0%;
}
.features .feature.quality a::before{
  background-color:  rgba(255, 0, 0, 0.87);

}
.features .feature.time a::before{
  background-color:  rgba(0, 128, 117, 0.918);

}
.features .feature.passion a::before{
  background-color: var(--main-color);

}
.features .container .grid-features .feature:hover a::before{
  /* width: 100%; */

  animation: leftm  0.5s linear  forwards;
  -webkit-animation: leftm  0.5s linear  forwards;
}
.features .feature.quality a{
  border-color: rgba(255, 0, 0, 0.87) ;
color: rgba(255, 0, 0, 0.87);

}
.features .feature.time a{
  border-color: rgba(0, 128, 117, 0.918) ;
color:  rgba(0, 128, 117, 0.911);

}
.features .feature.passion a{
  border-color: var(--main-color) ;
color: var(--main-color);

}
/*  */
/* testimonials */
.testimonials{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.testimonials .people-grid{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 40px;
}
.testimonials .people-grid .box{
  position: relative;
  background-color: white;
  padding: 30px;
  border-radius:6px ;
  -webkit-border-radius:6px ;
  -moz-border-radius:6px ;
  -ms-border-radius:6px ;
  -o-border-radius:6px ;
}
.testimonials .people-grid .box img{ 
  position: absolute;
  right:-20px;
  top: -50px;
  border: 15px solid var(--section-background);
  max-width: 120px;
  border-radius:50% ; -webkit-border-radius:50% ; -moz-border-radius:50% ; -ms-border-radius:50% ; -o-border-radius:50% ;
}
.testimonials .people-grid .box h2{
  padding-bottom: 10px;

}
.testimonials .people-grid .box .title{
  /* padding-bottom: 10px; */
color: #777;
}
.testimonials .people-grid .box .rate{
padding-bottom: 10px;
padding-top: 10px;
}
.testimonials .people-grid .box .rate .golden{
  color: darkorange;
  
}
.testimonials .people-grid .box p{
  color: #777;
line-height: 2;
/* font-size: 20px; */
}

/*  */
/* teammembers */
.teammembers{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.teammembers .grid-members{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  gap: 100px;
}
.teammembers .grid-members .member{ 
  position: relative;
  z-index: 0;
  /* background-color: red; */
  
}
.teammembers .grid-members .member::before,
.teammembers .member::after{
  content: "";
  position: absolute;
  
  height:calc(100% + 40px);
  background-color: var(--transparent-color);
  border-radius:10px ;
  -webkit-border-radius:10px ;
  -moz-border-radius:10px ;
  -ms-border-radius:10px ;
  -o-border-radius:10px ;
  transition: var(--main-transition);
  -webkit-transition: var(--main-transition);
  -moz-transition: var(--main-transition);
  -ms-transition: var(--main-transition);
  -o-transition: var(--main-transition);
}
.teammembers .grid-members .member::before{
  z-index:-2 ;
  width: calc(100% - 40px);
  /* width: 100%; */
  left: 40px;
  top: -30px;
}
.teammembers .member::after{
  z-index:-1 ;
  width: 0;
  right: 0;
  top: -30px;
  transition:var(--main-transition) ;
  -webkit-transition:var(--main-transition) ;
  -moz-transition:var(--main-transition) ;
  -ms-transition:var(--main-transition) ;
  -o-transition:var(--main-transition) ;
}
.teammembers .member:hover::after{
width: calc(100% - 40px);
  background-color: rgba(0, 0, 0, 0.253);

}
.teammembers .member .image{
  /* position: absolute; */
display: flex;
align-items: center;
left: -40px;
top: 20px;
}

.teammembers .member .image img{
   margin-right: 5px;
   max-width: 100%;
   max-width: calc(100% - 40px);
   border-radius: 10px;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   -ms-border-radius: 10px;
   -o-border-radius: 10px;
   transition:var(--main-transition) ;
   -webkit-transition:var(--main-transition) ;
   -moz-transition:var(--main-transition) ;
   -ms-transition:var(--main-transition) ;
   -o-transition:var(--main-transition) ;
}
.teammembers .member:hover .image img{
   filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.teammembers .member .image .social{
 /* padding-top: 50px; */
 padding-left: 5px;
}
.teammembers .member .image .social .icon {
 padding-bottom: 20px;
}
.teammembers .member .image .social .icon:hover{
color: var(--main-color);
}
.teammembers .member .info{
padding-top: 20px;
padding-left: 60px;
padding-bottom: 20px;
}
.teammembers .member .info h2{
   color: var(--main-color);
   transition:var(--main-transition) ;
   -webkit-transition:var(--main-transition) ;
   -moz-transition:var(--main-transition) ;
   -ms-transition:var(--main-transition) ;
   -o-transition:var(--main-transition) ;
}
.teammembers .member:hover .info h2{
color: black;
}
.teammembers .member p{
color: #777;
}
/*  */
/* services */
.services{
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
background-color: var(--transparent-color);
}
.services .grid-serv{
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
 gap: 40px;
}
.services .grid-serv .serv{
 background-color: white;
 counter-increment: service_num;
 position: relative;
 box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
 transition: var(--main-transition);
 -webkit-transition: var(--main-transition);
 -moz-transition: var(--main-transition);
 -ms-transition: var(--main-transition);
 -o-transition: var(--main-transition);
}
.services .grid-serv .serv:hover{ transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px);
}
.services .grid-serv .serv::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 3px;
  top: -3px;
  left: 50%;
  transition:var(--main-transition) ;
  transform:translateX(-50%) ;
  background-color: var(--main-color);
  -webkit-transform:translateX(-50%) ;
  -moz-transform:translateX(-50%) ;
  -ms-transform:translateX(-50%) ;
  -o-transform:translateX(-50%) ;
  -webkit-transition:var(--main-transition) ;
  -moz-transition:var(--main-transition) ;
  -ms-transition:var(--main-transition) ;
  -o-transition:var(--main-transition) ;
}
.services .grid-serv .serv:hover::after{
width: 100%;
}
.services .grid-serv .serv i{
color: #d5d5d5;
margin: 40px auto 20px;
text-align: center;
display: block;
}
.services .grid-serv .serv h3{
color: var(--main-color);
text-align: center;
margin-bottom: 20px;
font-weight: bold;
font-size: 30px;

}
.services .grid-serv .serv .foot{
  background-color: #f6f6f6;
  padding: 15px;
  text-align: right;
  position: relative;
  overflow: hidden;
}
.services .grid-serv .serv .foot a{
color: var(--main-color);
}
.services .grid-serv .serv .foot::before{
  content: "0" counter(service_num) ;
  position: absolute;
  left: 10px;
  top: 50%;
  transform:translateY(-50%) ;
  color: white;
  font-weight: bold;
  font-size: 30px;
  -webkit-transform:translateY(-50%) ;
  -moz-transform:translateY(-50%) ;
  -ms-transform:translateY(-50%) ;
  -o-transform:translateY(-50%) ;
  z-index: 1;
}
.services .grid-serv .serv .foot::after{
  content: "";
  position: absolute;
  top: 0;
  left: -25%;
  border-color: var(--main-color) transparent transparent transparent ;
  border-width: 200px 100px 100px 100px;
border-style: solid;
  height: 100%;
  z-index: 0;
}

/*  */
/* skills */
.skills{
  padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
background-color: white;
}
.skills .skills-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
  gap: 30px;
}
@media (max-width:991px){
  .skills .skills-grid img{
display: none;
  }
}

.skills .skills-grid .rate h3{
  padding-bottom: 20px;

}
.skills .skills-grid .rate .prog{
  position: relative;
  padding-bottom: 50px;
}
.skills .skills-grid .rate .prog .prograte{
  background-color: var(--section-background);
  position: relative;
  height: 20px;
}
.skills .skills-grid .rate .prog .prograte span{
  height: 20px;
    left: 0;
    position: absolute;
    background-color: var(--main-color);

}
.skills .skills-grid .rate .prog .prograte::before{
  content: "";
  position: absolute;

}
.skills .skills-grid .rate .prog .prograte::after{
    content:  attr(data-progress) ;
    position: absolute;
    color:var(--main-color);
    font-weight: bold;
    right: 0;
    top: -40px;
    padding: 3px;
    border-radius:6px ;
    border: 1px solid var(--section-background);
    z-index: 100;
    -webkit-border-radius:6px ;
    -moz-border-radius:6px ;
    -ms-border-radius:6px ;
    -o-border-radius:6px ;
}
/*  */
/* how it works */
.howitworks{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.howitworks .works-grid{
display: flex;
align-items: center;
justify-content: space-between;
gap: 30px;

}
@media (max-width:991px){
  .howitworks .works-grid{
flex-direction: column;
  }
}
.howitworks .works-grid .image img{
  max-width: 100%;
}

.howitworks .works-grid .work-steps .box{
  margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#f6f5f5;
    padding: 20px 40px ;
    gap:  40px;
    border: 2px solid white;
    border-radius:10px ;
position: relative;
    z-index: 1;
    overflow: hidden;
}
@media (max-width:767px) {
  .howitworks .works-grid .work-steps .box{
flex-direction: column;
text-align: center;
  }
  
}
.howitworks .works-grid .work-steps .box::after{
     content: "";
     position: absolute;
     width: 0;
     height: 0;
     transition: var(--main-transition);
     background-color:  #ededed;
     left: 50%;
     top: 50%;
     transform:translate(-50%,-50%) ;
     -webkit-transform:translate(-50%,-50%) ;
     -moz-transform:translate(-50%,-50%) ;
     -ms-transform:translate(-50%,-50%) ;
     -o-transform:translate(-50%,-50%) ;
     -webkit-transition: var(--main-transition);
     -moz-transition: var(--main-transition);
     -ms-transition: var(--main-transition);
     -o-transition: var(--main-transition);
     z-index: -1;
}
.howitworks .works-grid .work-steps .box:hover::after{
width: 100%;
height: 100%;
}
.howitworks .works-grid .work-steps .box .image img{
width: 64px;
}

.howitworks .works-grid .work-steps .box .info h2{
padding-bottom: 10px;
}
.howitworks .works-grid .work-steps .box .info p{
line-height: 2;
color: #777;
}

/*  */
/* events */
.events{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
  position: relative;

}
.events .events-grid{
display: flex;
justify-content: space-between;
align-items: center;
}
@media (max-width:991px) {
  .events .events-grid img{
    display: none;
  }  
  .events .events-grid .info {
    margin-top: 50px;
margin-bottom: 80px;
  }
}

.events .events-grid .info {
text-align: center;
}
.events .events-grid .info .count{
display: flex;
justify-content: center;
align-items: center;

}
.events .events-grid .info .count .unit{
  margin-right: 10px;
  border: 1px solid var(--section-background);
  border-radius:6px ;

}
.events .events-grid .info .count .unit span{
display: block;

}
.events .events-grid .info .count .unit span:first-child{
      font-weight: bold;
      color: var(--main-color);
      font-size:20px;
      padding: 15px;
     
}
.events .events-grid .info .count .unit span:last-child{
  padding: 8px;
  color: #777;
  border-top: 1px solid var(--section-background);

}
.events .events-grid .info .count .unit:hover,
.events .events-grid .info .count .unit:hover span:last-child{
  border-color: var(--main-color);

}

.events .events-grid .info .text h2{
padding: 20px;
}
.events .events-grid .info .text p{
color: #777;
list-style: 2;
}
.events .container .input{
  width: 600px;
  padding: 50px;
  background-color: var(--section-background);
  display: flex;
  margin: 80px auto;
  border-radius:50px ;
  -webkit-border-radius:50px ;
  -moz-border-radius:50px ;
  -ms-border-radius:50px ;
  -o-border-radius:50px ;
}
@media (max-width:767px) {

  .events .container .input{
    margin: 0; 
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
    border-radius: 0; 
    -webkit-border-radius: 0;
     -moz-border-radius: 0; 
     -ms-border-radius: 0;
      -o-border-radius: 0;
}
  
}
.events .container .input input[type="email"]{
  border: none;
  flex: 1;
  padding: 20px;
  margin-right: 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  caret-color: var(--main-color);
}
@media (max-width:767px) {
  .events .container .input input[type="email"]{
    flex: 1;
    margin: 0;
    max-width: 100%;
    margin-bottom: 10px;
     border-radius: 0;
      -webkit-border-radius: 0; -moz-border-radius: 0; -ms-border-radius: 0; -o-border-radius: 0;
}
}
.events .container .input input[type="email"]:focus{
outline: none;
}
.events .container .input input[type="email"]::placeholder{
  transition: opacity var(--main-transition);
  -webkit-transition: opacity var(--main-transition);
  -moz-transition: opacity var(--main-transition);
  -ms-transition: opacity var(--main-transition);
  -o-transition: opacity var(--main-transition);
}
.events .container .input input[type="email"]:focus::placeholder{
  opacity: 0;

}
.events .container .input input[type="submit"]{
  color: white;
  font-weight: bold;
  border: none;
  padding: 20px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: var(--main-color);
  cursor: pointer;
}
@media (max-width:767px) {
  .events .container .input input[type="submit"]{
     border-radius: 0; 
     -webkit-border-radius: 0; 
     -moz-border-radius: 0;
      -ms-border-radius: 0; -o-border-radius: 0;
}
}
/*  */
/* pricing */
.pricing{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
  position: relative;
}
.pricing .grid-plans{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
gap: 40px;
}
.pricing .grid-plans .plan{
background-color: white;
position: relative;
box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);

}
.pricing .grid-plans .plan:nth-child(2){
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
}
.pricing .grid-plans .plan::before,
.pricing .grid-plans .plan::after{
     content: "";
     position: absolute;
     background-color:#ececec3d ;
     width: 0%;
     height: 50%;
     transition:var(--main-transition) ;
     -webkit-transition:var(--main-transition) ;
     -moz-transition:var(--main-transition) ;
     -ms-transition:var(--main-transition) ;
     -o-transition:var(--main-transition) ;
}
.pricing .grid-plans .plan::before{
  right: 0;
}
.pricing .grid-plans .plan::after{
  
left: 0;
top: 50%;

}
.pricing .grid-plans .plan:hover::before,
.pricing .grid-plans .plan:hover::after{
  width: 100%;
}
.pricing .grid-plans .plan:nth-child(2) .head::before{
    content: "Most Popular";
    position: absolute;
    padding: 10px;
    background-color: var(--main-color);
    color: white;
    padding-right: 35px;
    right: 0;
    z-index: 2;
    top: 57px;
        transform:rotate(90deg) ;
    -webkit-transform:rotate(90deg) ;
    -moz-transform:rotate(90deg) ;
    -ms-transform:rotate(90deg) ;
    -o-transform:rotate(90deg) ;
}
.pricing .grid-plans .plan:nth-child(2) .head::after{
  content: "";
  position: absolute;
  border-width: 30px 20px 0px 20px;
  border-color: white transparent transparent transparent;
  right: 59px;
  z-index: 3;
  top: 128px;
  border-style: solid;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);

}

.pricing .grid-plans .plan .head{
  text-align: center;
padding-top: 20px;
font-size: 20px;

}
.pricing .grid-plans .plan .head h2{
padding-top: 20px;

}
.pricing .grid-plans .plan .head  i{
color: var(--main-color);
padding: 10px;
}
.pricing .grid-plans .plan .head .number{
color: var(--main-color);
padding: 10px;
font-weight: bold;
font-size: 40px;
}
.pricing .grid-plans .plan .head p{
color: #777;
padding-bottom: 10px;
}
.pricing .grid-plans .plan ul li i{
  color: var(--main-color);
  padding-right: 5px;

}
.pricing .grid-plans .plan ul li{
padding: 20px;
border-top: 1px solid var(--section-background);
}
.pricing .grid-plans .plan .foot{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pricing .grid-plans .plan .foot a{ 
  
  text-align: center;
  margin:  30px auto;
   color: var(--main-color);
   padding: 10px 20px;
   border: 1px solid var(--main-color);
    border-radius:6px ; 
    -webkit-border-radius:6px ; 
    -moz-border-radius:6px ; 
    -ms-border-radius:6px ;
     -o-border-radius:6px ;
}
/*  */
/* top videos */
.topvideos{
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: white;
}
.topvideos .grid-videos{
display: flex;
background-color: var(--section-background);
border: 1px solid var(--section-background);
}
@media (max-width:991px) {
  .topvideos .grid-videos{
flex-direction: column;
  }
  
}

.topvideos .grid-videos .list .head{
  display: flex;
  justify-content: space-between;
  padding: 20px;
font-weight: bold;
}

.topvideos .grid-videos .list ul{
background-color: white;
min-width: 300px;

}
.topvideos .grid-videos .list ul li{
  padding: 30px;
}
.topvideos .grid-videos .list ul li:hover{
background-color: var(--section-background);
}
.topvideos .grid-videos .list ul li a{
color: black;
}
.topvideos .grid-videos .list ul li span{
  padding-top: 10px;
  color: #777;
display: block; 
}
.topvideos .grid-videos .list ul li:not(:last-of-type){
border-bottom: 1px solid var(--section-background);
}
.video-rev{
border: 10px solid var(--section-background);
display: flex;
flex-direction: column;
justify-content: space-between;
}
.video-rev img{
  max-width: 100%;
  margin-bottom: 40px;
}
.video-rev p{
  padding: 20px;
  background-color: white;
}
/*  */
/* stats */
.stats{
  background-image: url(../imgs/stats.jpg);
  background-size: cover;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
position: relative;
}
.stats::before{
  content: "";
  position: absolute;
  background-color: #d5d5d5d7;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.stats h2{
  display: block;
  text-align: center;
 margin-bottom: 50px;
position: relative;
}
.stats .grid-stat{
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
gap: 40px;
position: relative;
z-index: 100;
}
.stats .grid-stat .box { text-align: center;
  opacity: 0.8;
z-index: 100;
   background-color: white; padding: 20px; position: relative; 
  transition: var(--main-transition); -webkit-transition: var(--main-transition); -moz-transition: var(--main-transition); -ms-transition: var(--main-transition); -o-transition: var(--main-transition);
}
.stats .grid-stat .box::before,
.stats .grid-stat .box::after{
  content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background-color: var(--main-color);
  transition:1s;
  -webkit-transition:1s;
  -moz-transition:1s;
  -ms-transition:1s;
  -o-transition:1s;
}
.stats .grid-stat .box::before{
  left: -3px;
  bottom: 0;
}
.stats .grid-stat .box::after{
  right: -3px;
  top: 0;
}
.stats .box:hover{
  opacity: 1;
}
.stats .grid-stat .box:hover::before,
.stats .grid-stat .box:hover::after {
  height: 100%;
}
.stats .grid-stat .box >i{
  font-weight: bold;
}
.stats .grid-stat .box span {
  display: block;
padding: 20px;
font-weight: bold;
font-size: 30px;

}
.stats .grid-stat .box p{
  font-weight: bold;
  color: var(--main-color);
  font-size: 30px;
}
/*  */

/* discount */
.discount .contant{
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount .contant .image{
  background-image: url(../imgs/discount-background1.jpg);
  background-size: cover;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 3;
  align-items: center;
  max-width: 50%;
  animation: change-back 10s linear infinite;
  -webkit-animation: change-back 10s linear infinite;
}
@keyframes change-back {
  0%,100%{
    background-image: url(../imgs/discount-background1.jpg);
  }
  50%{
    background-image: url(../imgs/discount-background2.jpg);

  }
}
.discount .contant .image::before{
  content: "";
  position: absolute;
background-color:#2196f3f0 ;
z-index: -1;
left: 0;
top: 0;
width: 100%;
height: 100%;
}
.discount .contant .image img{
  width: 300px;
max-width: 100%;
}
.discount .contant .image h2{
  margin: 30px;
}
.discount .contant .image p{
  line-height: 2;
  font-size: 20px;
  color: white;
padding: 10px;
}
.discount .contant form{
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: white;
/* justify-content: center; */
align-items: center;
padding: 0 40px;
}
.discount .contant form h2{
padding: 20px;
}
.discount .contant form input,
.discount .contant form textarea{
  display: block;
  border: none;
  margin-bottom: 20px;
background-color: #f9f9f9;
border-bottom: 1px solid #ccc;
padding: 15px;
caret-color: var(--main-color);
width: 100%;
caret-color: var(--main-color);
}
.discount .contant form textarea{
resize: none;
height: 200px;
}
.discount .contant form input:focus,
.discount .contant form textarea:focus{
outline: none;
}
@media (max-width:991px) {
  .discount .contant{
flex-direction: column;
  }
  .discount .contant .image{
flex: 1;
max-width: 100%;
  }
  .discount .contant form{
    width: 100%;
      }
}

.discount .contant form input[type="submit"]{
padding: 20px;
background-color: var(--main-color) !important;
border: none;
color: white;
font-weight: bold;
}
/*  */
/* footer */
footer{
  padding-top: var(--section-padding);
position: relative;
background-color: black;
}
footer .contant {
color: white;

}
footer .contant .box-grid{
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  gap: 40px;
  margin-bottom: 30px;
  }
  footer .contant .box-grid .box1 h1{
padding-top: 0;
  }
  footer .contant .box-grid .box1 p{
    line-height: 2;
    color: var(--section-background);
    margin-top: 20px;
  }
  footer .contant .box-grid .box1 .icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
     width: 50px;
   height: 50px;
background-color: #777;
margin-right: 10px;
  }
  footer .contant .box-grid .box1 .icon i{
    color: var(--section-background);
  }
  footer .contant .box-grid .box1 .icon .youtube:hover{
background-color: red;
  }
  footer .contant .box-grid .box1 .icon .facebook:hover{
    background-color: rgb(15, 15, 126);
      }
      footer .contant .box-grid .box1 .icon .twitter:hover{
        background-color: rgb(89, 89, 241);
          }
          @media (max-width:767px) {
            footer .contant .box-grid .box1{
              text-align: center;
            }
            footer .contant .box-grid .box2{
text-align: center;

            }
          }
  footer .contant .box-grid .box2 ul li{
padding: 15px;
  }
  footer .contant .box-grid .box2 ul li:not(:last-of-type){
    border-bottom: 1px solid var(--section-background);

  }
  footer .contant .box-grid .box2 ul li i{
padding-right: 5px;
color: var(--main-color);
  }
  footer .contant .box-grid .box2 ul li  a{
    color: var(--section-background);
      }
  footer .contant .box-grid .box2 ul li:hover a{
    padding-left: 10px;
    color: white;
}
  footer .contant .box-grid .box3 .info{
    display: flex;
    margin-bottom: 40px;
color: var(--section-background);
  }
  footer .contant .box-grid .box3 .info i{
margin: 8px;
color: var(--main-color);
  }
  footer .contant .box-grid .box4 .gallery-f img{
width: 75px;
margin-right: 3px;
border: 1px solid white;
  }
  footer .contant .foot{
    border-top: 1px solid white;
padding:  30px ;
text-align: center;
  }
/*  */